[user]
	name = Kentaro Takeyama
	email = n.y.skate.of.minds@gmail.com
	username = obregonia1
[core]
	excludesfile = /Users/kentaro/.gitignore_global
[init]
	defaultBranch = main
[ghq]
	root = ~/src
[fetch]
	prune = true
[push]
	default = current
[credential]
	helper = osxkeychain
[pull]
	rebase = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[color]
	ui = true
